body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 1270px;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    .navbarContainer{
       position: fixed;
       width: 53%;
       height: 10%;
       border-radius:20px ;
       display: flex;
       align-items: center;
       justify-content:center;
       gap: 30px;
       overflow: hidden;
       z-index: 11;
       img{
        margin-top: 20px;
        width: 50px;
        height: 35px;
        z-index: 11;
       }
       .theMenu{
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-weight: 800;
          padding: 20px 30px;
          background: linear-gradient(45deg, #FFD700, #d4bc8f, #FF8C00);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          cursor: pointer;
          z-index: 11;
          transition: .4s ease-out;
          &:hover{
           transform: scale(1.05);
           border: 1px solid #ffffff85;
          }
        }
        .SignUpButton{
            border: 1px solid #f4d9bc;
            background-color: #f4d9bc;
            border-radius: 20px;
            padding-left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 800;
            cursor: pointer;
            transition: .4s ease-out;
             z-index: 11;
            &:hover{
            transform: scale(1.05);
            border: 1px solid #ffffff85;
            }
        }
    }
}